.productList {
  margin: 30px 6vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}