.shoppingCartItem {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  margin-bottom: 16px;

  .itemDetailsContainer {
    grid-column: 1 / 5;
    display: flex;

    .itemImg {
      margin-right: 12px;

      img {
        object-fit: cover;
        height: 120px;
        width: 100px;
        filter: grayscale(20%);
      }
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 0 10px 0;
    }
  }

  .itemQuantity {
    display: flex;
    justify-content: center;
    padding-top: 8px;

    button {
      width: 24px;
      height: 20px;
      border: 1px solid #aaa;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
    }

    span {
      margin: 0 8px;
    }
  }
  .itemPrice,
  .itemTotal {
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

  .itemTotal {
    font-weight: bold;
  }

  .itemRemove {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}