.hero {
  background: url('../../assets/botanicals-hero.jpg') no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
  filter: grayscale(30%);

  .heroContainer {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 6vw;

    .heroContent {
      width: 40vw;

      .heroTitle {
        margin-bottom: 14px;
      }

      .heroDetails {
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 1.4em;
          color: #555;
        }
        button {
          background-color: #000;
          color: white;
          padding: 14px 20px;
          letter-spacing: .2px;
          font-size: .9em;
          font-weight: 600;
          outline: none;
          border: none;
          text-transform: uppercase;
          margin-top: 24px;
        }
      }
    }
  }
}
