.hero {
  background: url(https://images.unsplash.com/photo-1579111673799-9c115152ce30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center;
}