.product {
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    filter: grayscale(50%);
  }

  .imageWrapper {
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: #000;
      color: white;
      padding: 8px 16px;
      letter-spacing: .2px;
      font-size: .9em;
      font-weight: 600;
    }
  }
}