.shoppingCart {
  margin: 40px 6vw;
  max-width: 1200px;

  .cartTitle {
    margin-bottom: 24px;
  }

  .cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftPanel {
      width: 65%;

      h1 {
        font-size: 36px;
        font-weight: 400;
      }
    }

    .tableHeadings {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-transform: uppercase;
      gap: 12px;
      font-weight: 600;
      letter-spacing: .3px;
      margin: 20px 0 16px 0;
      font-size: 14px;

      span:nth-child(1) {
        grid-column: 1 / 5;
        justify-content: flex-start;
      }

      span {
        display: flex;
        justify-content: center;
      }
    }
  
    .rightPanel {
      width: 30%;

      .summaryContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        box-shadow: 0 0 0 1px rgba(20,20,20,.05), 0 8px 12px -4px rgba(20,20,20,.2);

        .summaryItem {
          display: flex;
          justify-content: space-between;
          padding: 30px 0;
        }
      }
    }
  }
}